/*************************************************
 *  A custom theme for Hugo Academic
 *  Set `custom_css = ["blue.css"] in `config.toml`.
 *  Then save this file as `/static/css/blue.css` relative to your website root (i.e. not in `themes/academic` directory).
 *  https://github.com/gcushen/hugo-academic
 **************************************************/

/* from green to blue */
/*  change all rgb(76,175,80) --> to rgb(127,140,180) */
/*  change all rgb(0,230,118) --> to rgb(52,60,86) */
/*  change all rgba(0,230,118,0.6) --> rgba(127,140,180,0.6) */
/*  change all rgba(0,230,118,1) --> rgba(52,60,86,1) */

/*************************************************
 *  Core
 **************************************************/


/* Headings */

a,
h3.article-title a:hover {
  color: rgb(127,140,180); 
}


a:hover,
a:focus {
  color: #434d70;
}

/*************************************************
 *  Blog Articles
 **************************************************/

.article-metadata a:hover {
  color: rgb(127,140,180);
}

/*************************************************
 *  Button Primary: Color Override
 **************************************************/

.btn-primary {
  border-color: rgb(127,140,180);
  /*background: rgb(127,140,180);*/
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  background: rgb(127,140,180);
}


/*************************************************
 *  Button Outlines
 **************************************************/


.btn-primary.btn-outline {
  color: rgb(127,140,180);
  border-color: rgb(127,140,180);
}

/*************************************************
 *  Navigation Bar
 **************************************************/

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
  color: rgb(127,140,180);
  font-weight: 700;
  background-color: transparent !important; /* Override Bootstrap. */
}

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:focus,
.dropdown-menu > .active > a:hover {
  color: #fff;
  text-decoration: none;
  background-color: rgb(127,140,180);
  outline: 0;
}

@media screen and (max-width: 1200px) {

  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover {
    color: rgb(127,140,180);
    background-color: transparent;
  }

}

/*************************************************
 *  Toolbar Buttons
 **************************************************/
 

.btn-toolbar .btn.btn-primary {
  background: rgb(127,140,180);
}

.btn-toolbar .btn.btn-primary:hover,
.btn-toolbar .btn.btn-primary:focus {
  background-color: rgba(127,140,180,0.6);
}

.btn-toolbar .btn.btn-primary:active,
.btn-toolbar .btn.btn-primary.active {
  background-color: rgba(52,60,86,1);
}

/*************************************************
 *  Publications
 **************************************************/

.pub-icon {
  color: rgb(52,60,86);
  font-size: 0.81em;
  padding-top: 6px;
}

.pub-list-item .pub-publication {
  color: rgb(132, 214, 211);
  font-size: 1rem;
}


/*************************************************
 *  Fonts (note: update link @ themes/hugo-academic/layouts/partials)
 **************************************************/

html {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: rgba(0,0,0,0.8);
  line-height: 1.65;
}

/*************************************************
 *  Alerts
 **************************************************/


.alert-note {
  color: #fff;
  background-color: rgb(127,140,180); 
  border-color: #bce8f1;
}

.alert-warning {
  color: #fff;
  background-color: rgb(238, 88, 99); 
  border-color: #ccd1;
}


.btn-primary {
  border-color: white !important;
  background: rgb(127, 140, 180) !important;
}
.btn-primary.btn-outline {
    color: white !important;
    border-color: black !important;
}
.btn-primary:hover,
.btn-primary:active,
.btn-primary.active,
.btn-primary:visited,
.open > .dropdown-toggle.btn-primary {
  background: rgb(127, 140, 180) !important;
}
.cc-color-override--121363398.cc-window {
    color: white !important;
    background-color: rgb(127, 140, 180) !important;
}
.cc-color-override--121363398 .cc-btn {
    color: white !important;
    background-color: rgb(127, 140, 180) !important;
    border-color: white !important;
}
